<div class="px-4 py-5 my-5 text-center">
  <h1 class="text-center display-1">قاموس المصطلحات التقنية</h1>
</div>

<div class="container" style="max-width: 800px;">
  <h3>مشروع المصطلح العربي</h3>
  <div>
    <p>
      مشروع المصطلح العربي (Arab Term) هو مجموعة من القواميس التقنية الرقمية.
      أشرف على إنجازها المنظمة العربية للتربية والثقافة والعلوم بالتنسيق مع مكتب تنسيق التعريب.
    </p>
    <p>
      الموقع الرسمي والأصلي للمشروع هو
      <a href="http://www.arabterm.org/index.php?id=3&L=3">arabterm.org</a> ،
       أما الموقع الحالي
      <a href="https://forzagreen.github.io/arabterm">forzagreen.github.io/arabterm</a>
        فهو استخراج لجميع مصطحات "المصطلح العربي"
      في محاولة لعرضها بشكل مبسط،
      ولإتاحتها بصِيَغٍ مختلفة (csv, sqlite...)
      لتسهيل التعامل معها والبحث فيها من طرف الباحثين والمُبَرْمِجِين.
    </p>
    <p>
      للتفاصيل التقنية، انظر صفحة المشروع على غيت هاب:
      <a href="https://github.com/forzagreen/arabterm">forzagreen/arabterm</a>
    </p>
  </div>
  <hr>
  <h3>قائمة المعاجم</h3>
  <div class="table-responsive">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">المعجم</th>
          <th scope="col">اسم المعجم بالإنجليزية والفرنسية والألمانية</th>
          <th scope="col">اللغات المتوفرة</th>
          <th scope="col">عدد المُدخلات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dictionary of dictionaries">
          <th>
            <a class="text-decoration-none" [title]="dictionary.name + ' full'" [routerLink]="['/', dictionary.name]">
              {{ dictionary.arabic }}
            </a>
          </th>
          <td>
            <div>{{ dictionary.english }}</div>
            <div><small>{{ dictionary.french }}</small></div>
            <div *ngIf="dictionary.german"><small>{{ dictionary.german }}</small></div>
          </td>
          <td>
            عربي، إنجليزي، فرنسي<span *ngIf="dictionary.available_languages.includes('german')">، ألماني</span>
          </td>
          <td>{{ dictionary.nbr_entries }}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div>
    <h3>مراجع</h3>
      <ul>
        <li>
          <a href="http://www.arabterm.org/index.php?id=3&L=3">arabterm.org</a>
        </li>
        <li>
          <a href="https://github.com/forzagreen/arabterm">https://github.com/forzagreen/arabterm</a>
        </li>
        <li>
          <a href="http://www.arabization.org.ma/">مكتب تنسيق التعريب</a>
        </li>
        <li>
          <a href="https://ar.wikipedia.org/wiki/ويكيبيديا:مصادر موثوقة/معاجم وقواميس وأطالس">ويكيبيديا:مصادر موثوقة/معاجم وقواميس وأطالس</a>
        </li>
      </ul>

  </div>
</div>
